<h1>Dashboard</h1>
<!-- 
<ul>
	<% @gtins.each do |gtin| %>
	<li><%#= gtin.gtin %></li>
	<% end %>
</ul>

<%#= will_paginate @gtins %> -->

<% #if params[:gtin].present? %>
	<%#= params[:gtin] %><br />
<% #end %>


<table class="table table-striped" id="tbl-products" border='1'>
  <thead>
    <tr>    
      <th>GTIN</th>
      <th>Description</th>
      <th>Product Id</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  	<% @products.each do |product| %>
	  	<tr>
				<td><%= product.at("Code[Scheme='GTIN']").content %></td>
				<!-- <td><%#= product.at("Subscription").text %></td> -->
				<td><%= product.at("DiagnosticDescription").content %></td>
				<td><%= product.at("Subscription")["Id"] %></td>
				
				<td><%= link_to 'Edit', audit_product_path(product.at("Code[Scheme='GTIN']").text) %></td>
			</tr>	
		<% end %>

  </tbody>
</table>