

<%= select_tag "retailer_id", options_from_collection_for_select(
  Retailer.all, "id", "name"), {:prompt => 'Please Select' }%>

<br />

<div class="audit-product-form">
  <%= render 'audits/audit_form' %>
</div>

